<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_content2" method="post">
        <label>Title</label>
        <input type="text" name = '_title'><br>
        <label>Content</label>
        <textarea name="_content" width="500px" height="1000px"></textarea><br>
        <input type="submit" value="글 쓰기">
    </form>
</body>
</html>