<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function add_content(){
            location.href = "/add_content"
        }
    </script>
</head>
<body>
    <button onclick="add_content()">글 쓰기</button>
</body>
</html>