<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function signup(){
            location.href = '/signup'
        }
    </script>
</head>
<body>
    <!-- 유저가 입력할 수 있는 공간 -->
    <form action="/login" method="post">
        <label>ID</label>
        <input type="text" name="_id"><br>
        <label>PASSWORD</label>
        <input type="password" name="_pass"><br>
        <input type="submit" value="로그인">
    </form>
    <button onclick="signup()">회원가입</button>
</body>
</html>