<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 유저가 아이디를 입력하는 공간  -->
    <form action="/check_id" method="get">
        <label>ID</label>
        <input type="text" name="_id"><br>
        <input type="submit" value="아이디 중복 체크">
    </form>
</body>
</html>