<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 글의 상세 정보 -->
    <ul>
        <li>
            Title : <%=data['title']%>
        </li>
        <li>
            Content : <%=data['content']%>
        </li>
    </ul>
</body>
</html>