<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        로그인
    </h1>
    <form action="/signin" method="post">
        <!-- id를 입력하는 공간 -->
        <label>id</label>
        <input type="text" name="_id"><br>
        <label>password</label>
        <input type="password" name="_pass"><br>
        <input type="submit" value = '로그인'>
    </form>
    <a href="/signup">회원 가입</a>
</body>
</html>