<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('header.ejs')%>
</head>
<body>
    <div class="container">
        <form action="/contract/add2" method="post">
            <span class="input-group-text" id="basic1">Title</span>
            <input type="text" name="_title" class="form-control" aria-describedby="basic1">
            
            <span class="input-group-text" id="basic2">Coctent</span>
            <input type="text" name="_content" class="form-control" aria-describedby="basic2">
            
            <span class="input-group-text" id="basic3">Writer</span>
            <input type="text" name="_writer" class="form-control" aria-describedby="basic3">
            
            <span class="input-group-text" id="basic4">Image</span>
            <input type="text" name="_image" class="form-control" aria-describedby="basic4">
        
            <input type="submit" value="글 등록" class="btn btn-primary">
        </form>
    </div>
</body>
</html>