<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    <form action="/signin" method="post">
        <label>ID</label>
        <input type="text" name="_id"><br>
        <label>Password</label>
        <input type="password" name="_pass"><br>
        <input type="submit" value="로그인">
    </form>
    <button onclick="location.href = '/signup'">회원 가입</button>
</body>
</html>