<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 토큰의 이름, 심볼, 소수점, 발행량 입력하는 공간 -->
    <form action="/token/create" method="get">
        <label>Name</label>
        <input type="text" name="_name"><br>
        <label>Symbol</label>
        <input type="text" name="_symbol"><br>
        <label>Decimal</label>
        <input type="number" name="_decimal"><br>
        <label>Amount</label>
        <input type="number" name="_amount"><br>
        <input type="submit" value="토큰 발행">
    </form>
</body>
</html>