<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Page</h1>
    <ol>
        <li>
            유저의 휴대폰번호 : (<%=user.phone %>)
        </li>
        <li>
            유저의 지갑 주소 : (<%=user.wallet%>)
        </li>
        <li>
            토큰의 양 : (<%=balance%>)
        </li>
    </ol>
</body>
</html>