<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- login에 필요한 정보를 입력할 수 있는 공간 -->
    <form action="/signin" method="post">
        <label>Phone</label>
        <input type="text" name="_phone"><br>
        <label>password</label>
        <input type="password" name="_pass"><br>
        <input type="submit" value="로그인">
    </form>
    <button onclick="location.href='/signup'">회원 가입</button>
</body>
</html>