<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup Page</h1>
    <form action="/signup" method="post">
        <label>Phone</label>
        <input type="text" name="_phone"><br>
        <label>password</label>
        <input type="password" name="_pass"><br>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>